* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #131619;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-clr);
  color: #fff;
  font-family: "Heebo", sans-serif;
}

img {
  max-width: 100%;
}

/* tablet and mobile */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 32px;
  height: 90px;
  max-width: 100%;
}

.logo img {
  height: 24px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin: 0 30px;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 1.2px;
  font-weight: 700;
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.nav-item::after {
  content: " ";
  position: absolute;
  top: 30%;
  left: 110%;
  height: 0;
  width: 0;
  border-radius: 50px;
  background-color: #fff;
  transition: width 0.3s ease, height 0.3s ease;
}

.nav-item:hover::after {
  width: 5px;
  height: 5px;
}

.nav-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-cta-btn {
  font-weight: 700;
  font-size: 1.2rem;
  /* line-height: 2.4; */
  letter-spacing: 1.2px;
  border-radius: 20px;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-cta-btn:hover {
  background-color: #434950e0;
  color: #fff;
}

.nav-right div {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid #fff;
}

.menu {
  display: none;
}

.open-menu {
  display: none;
}

@media (max-width: 768px) {
  .nav-items {
    flex-direction: column;
    background-color: var(--bg-clr);
    position: absolute;
    top: 60px;
    right: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    gap: 0;
  }

  .nav-items.active {
    height: 100vh;
    width: 100%;
    padding-block: 30px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-bar ul li {
    margin: 20px 0;
    text-align: center;
  }

  .menu {
    display: block;
  }

  .open-menu {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .weight-symbol {
    display: none;
  }
}

/* hero section */

.hero-container {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  line-height: 0.9;
  font-weight: bold;
  margin-top: 30em;
  margin-bottom: 15em;
}

.hero-container .hero-top {
  display: flex;
  align-self: flex-start;
  gap: 3rem;
}

.hero-event {
  font-size: 3rem;
  align-self: flex-end;
  line-height: 1.2;
}

.hero-caption {
  font-size: clamp(2rem, 17vw, 36rem);
}

@media screen and (max-width: 768px) {
  .hero-container {
    margin-left: 50px;
    margin-block: 10em;
  }

  .hero-event {
    font-size: 1rem;
  }

  .hero-caption {
    font-size: clamp(2rem, 15vw, 36rem);
  }

  .hero-container .hero-top img {
    width: 30%;
  }

  .view-more-image {
    display: none;
  }

  .view-more-title {
    font-size: 2rem;
  }
}

/* strong section */

.strong-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 637px;
  background-color: #000;
  padding-inline: 20px;
  padding-block: 30px;
  text-transform: uppercase;
  /* margin-block: 100px; */
}

.strong-content {
  margin-inline: 50px;
  position: relative;
}

.strong-title {
  font-size: 1.5rem;
  margin-top: 20px;
  position: absolute;
  font-weight: bold;
}

.strong-transparent-word {
  font-size: 5rem;
  background-color: #c4c4c4;
  background-clip: text;
  color: #000;
  position: absolute;
  left: -30px;
  top: -5px;
}

.strong-title img {
  position: absolute;
  left: -17px;
  top: -5px;
  width: 15px;
}

.strong-description {
  color: #c4c4c4;
  letter-spacing: 0.8px;
  text-transform: lowercase;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-top: 60px;
}

.view-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.view-more a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.view-more-arrow {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 5px;
  height: 40px;
  width: 40px;
}

.strong-image img {
  height: 400px;
}

@media screen and (min-width: 768px) {
  .strong-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .strong-description {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .strong-container {
    max-height: 637px;
    justify-content: center;
  }

  .strong-content {
    width: 50%;
  }

  .strong-title {
    font-size: 4rem;
  }

  .strong-transparent-word {
    font-size: 11rem;
    top: -20px;
    left: -60px;
  }

  .strong-title img {
    left: -30px;
    top: -5px;
    width: auto;
  }

  .strong-image {
    height: 760px;
    width: 518px;
  }

  .strong-description {
    font-size: 1.6rem;
    margin-top: 150px;
    margin-bottom: 30px;
    width: 390px;
  }

  .strong-image img {
    height: 100%;
    width: 100%;
  }
}

/* start section */

.start-container {
  background-color: var(--bg-clr);
  padding-top: 30px;
}

.start-content {
  margin-inline: 50px;
  position: relative;
}

.start-transparent-word {
  background-color: #c4c4c4;
  background-clip: text;
  color: var(--bg-clr);
}

@media screen and (min-width: 768px) {
  .start-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .start-container {
    max-height: 637px;
    justify-content: space-around;
  }

  .start-description {
    width: 400px;
  }

  .start-transparent-word {
    font-size: 11rem;
  }
}

/* Body work section */

.body-work-container {
  background-color: #000;
  z-index: -1;
  min-height: 494px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  line-height: 2.8;
  letter-spacing: 0.8px;
  padding-block: 150px;
  padding-inline: 100px;
}

.body-work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 40%;
}

.body-work-arrow {
  position: absolute;
  top: -80px;
  right: -80px;
}

.adjust-arrow {
  top: -80px;
}

.adjust-type-one {
  margin-top: 18px;
}

.adjust-type-two {
  margin-top: 15px;
}

.adjust-type-three {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .body-work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
  }
}

/* montage section */

.montage-container {
  height: 900px;
  background-image: url(/assets/fitness\ 4.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.montage-center-content video {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* subsciption section */

.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  height: 600px;
}

.subscription-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: bold;
  /* line-height: 2.16; */
  position: absolute;
  top: -18px;
}

.subscription-top img {
  background-color: transparent;
  transform: rotateX(180deg);
  height: 20px;
}

.subscription-content {
  margin-top: 10em;
  margin-bottom: 5em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-transparent-word {
  position: absolute;
  font-size: 10rem; /* Yantramanav */
  font-weight: bold;
  background-color: #fff;
  background-clip: text;
  color: var(--bg-clr);
  z-index: -1;
  top: -40px;
  /* top: -40px;
  left: 150px; */
}

.subscription-title img {
  position: absolute;
  top: -10px;
  left: 60px;
}

.subscription-title div {
  font-size: 3rem;
  font-weight: bold;
  /* line-height: 7.2; */
}

.subscription-description {
  font-size: 2rem;
  font-weight: light;
  /* line-height: 3.3; */
  margin-inline: 10px;
  text-align: center;
  margin-top: 30px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.form-group input {
  padding: 20px;
  border: 1px solid #404040;
  border-radius: 50px;
  background-color: transparent;
  color: #c4c4c4;
  font-size: 1.6rem;
  width: 20em;
}

.form-group input::placeholder {
  font-size: 1.6rem;
  color: #c4c4c4;
}

.subscription-btn {
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.6;
  letter-spacing: 1.3px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 50px;
  padding-left: 2em;
  cursor: pointer;
  width: 15em;
  margin-inline: auto;
}

.subscribe-arrow {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .subscription-top {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 18rem;
    top: -15%;
  }

  .subscription-top img {
    height: 127px;
  }

  .subscription-content {
    margin-top: 20em;
  }

  .subscription-transparent-word {
    font-size: 15rem; /* Yantramanav */
    top: -30%;
    left: 20%;
  }

  .subscription-title img {
    position: absolute;
    top: 0;
    left: 3%;
  }

  .subscription-title div {
    font-size: 6rem;
    font-weight: bold;
    /* line-height: 7.2; */
  }

  .subscription-description {
    font-size: 2rem;
    font-weight: light;
    line-height: 3.3;
  }

  .form-group input {
    font-size: 1.6rem;
    width: 30em;
  }

  .subscription-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 20em;
    margin-inline: auto;
  }

  .subscribe-arrow {
    width: 60px;
    height: 60px;
    padding: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .subscribe-form {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

/* location section */

.location-container {
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  padding-block: 0;
}

#map {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  /* right: 0;
  left: 0;
  top: 0;
  bottom: 0; */
}




.location-content {
  width: auto;
  position: relative;
  margin-inline: 50px;
  margin-top: 20px;
}

.location-transparent-word {
  font-size: 5rem;
  background-color: #c4c4c4;
  background-clip: text;
  color: #000;
  position: absolute;
  top: -3px;
  left: -5px;
}


@media screen and (min-width: 1024px) {
  .location-container {
    padding-inline: 0;
    flex-direction: row-reverse;
    margin-top: 100px;
  }

  .location-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-top: 0;
  }

  .location-transparent-word {
    font-size: 10rem;
    position: relative;
    top: 110px;
  }

  .location-title {
    margin-bottom: 50px;
  }

  .location-description {
    margin-top: 100px;
  }

  #map {
    width: 50%;
  }
}

/* part of us section */

.part-of-us-container {
  text-transform: uppercase;
  background-color: var(--bg-clr);
  margin-top: 100px;
}

.part-of-us-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-inline: 50px;
}

.part-of-us-title {
  font-size: 1.5rem;
  margin-top: 20px;
  position: absolute;
  font-weight: bold;
}

.part-of-us-title img {
  /* width: 15px; */
  position: absolute;
  left: -30px;
  top: -20px;
}

.part-of-us-transparent-word {
  color: var(--bg-clr);
  background-color: #fff;
  background-clip: text;
  font-size: 5rem; /* font-family: Yantramanav; */
  top: -11%;
  left: -18%;
}

.part-of-us-description {
  margin-top: 10px;
  font-weight: light;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .part-of-us-transparent-word {
    top: -25px;
    left: 270px;
  }
}

@media screen and (min-width: 1024px) {
  .part-of-us-container {
    text-transform: uppercase;
    background-color: var(--bg-clr);
    margin-top: 150px;
  }

  .part-of-us-title {
    font-size: 6rem;
    margin-top: 20px;
    top: 40px;
  }

  .part-of-us-title img {
    left: -30px;
    top: -5px;
  }

  .part-of-us-transparent-word {
    font-size: 15rem; /* font-family: Yantramanav; */
    top: 10%;
    left: -18%;
  }

  .part-of-us-description {
    text-transform: uppercase;
    margin-top: 0px;
    font-weight: light;
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

/* image animation */

.scroller {
  margin-block: 1em;
  padding-block: 2rem;
}

.inner-scroller {
  display: flex;
  gap: 1rem;
  width: 100px;
  height: 100px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .inner-scroller {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 100s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media screen and (min-width: 768px) {
  .scroller {
    margin-block: 5em;
    padding-block: 2rem;
  }

  .inner-scroller {
    width: 100%;
    gap: 2rem;
    height: 479px;
  }
}

/* BMI */

.BMI-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  text-transform: uppercase;
  height: 637px;
  margin-bottom: 10em;
  margin-top: 30em;
}

.left-BMI-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.left-BMI-title {
  font-size: 1.5rem;
  margin-top: 20px;
  position: absolute;
  font-weight: bold;
}

.left-BMI-transparent-word {
  color: var(--bg-clr);
  background-color: #fff;
  background-clip: text;
  font-size: 5rem;
  top: -11%;
  left: -18%;
}

.BMI-container .left-BMI-title img {
  position: absolute;
  left: -30px;
  top: -20px;
}

.left-BMI-description {
  font-weight: light;
  text-transform: none;
  color: #c4c4c4;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.BMI-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* width: 100%; */
}

.BMI-calculator input,
.BMI-calculator select {
  padding: 20px;
  border: 1px solid #404040;
  border-radius: 50px;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: light;
  color: #fff;
  width: 100%;
}

.BMI-calculator input:focus,
.BMI-calculator select:focus {
  outline: 1px solid #fff;
}

.BMI-calculator .activity-factor {
  color: #c4c4c471;
  appearance: none;
  background-color: var(--bg-clr);
}

.BMI-calculator input[type="number"]::-webkit-outer-spin-button,
.BMI-calculator input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-BMI-values {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.bmi-last-input {
  width: 100%;
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .BMI-container {
    margin-top: 20em;
  }
  .input-BMI-values {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }

  .bmi-last-input {
    width: 100%;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .BMI-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 50px;
    margin-top: 0em;
  }

  .left-BMI-title {
    font-size: 4rem;
    margin-top: 40px;
  }

  .left-BMI-transparent-word {
    font-size: 10rem;
    top: 1px;
    left: -70px;
    position: relative;
  }

  .BMI-container .left-BMI-title img {
    position: absolute;
    left: -30px;
    top: -5px;
  }

  .left-BMI-description {
    /* width: 386px; */
    font-size: 1.6rem;
  }

  .BMI-calculator {
    display: flex;
    flex-direction: column;
  }

  .input-BMI-values {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }

  .bmi-last-input {
    width: 100%;
    margin-bottom: 2em;
  }

  .check-bmi-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }
}

.calculate-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1.3px;
  line-height: 2.6;
  border: 1px solid #fff;
  border-radius: 50px;
  padding-left: 20px;
}

.calculate-btn img {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 5px;
}

.check-bmi-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.check-bmi-result .result {
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.check-bmi-result .bmi-score {
  margin-left: 0.5em;
}

/* .hide-right-BMI {
  display: none;
} */

.right-BMI-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: #000;
  height: 410px;
  width: 410px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 2.8;
  letter-spacing: 0.8px;
  text-align: left;
}

table {
  border-collapse: collapse;
}

table td {
  font-weight: light;
  color: #c4c4c4;
}

table th,
td {
  border-bottom: 1px solid #707070;
  padding: 5px 25px 5px 0;
}

.weight-border {
  border-left: 1px solid #707070;
  padding-left: 30px;
}

.obese {
  border-bottom: 1px solid transparent;
}

.circle div {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 10px;
}

.circle div span {
  font-weight: bold;
  line-height: 2.5;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .circle {
    height: 610px;
    width: 610px;
    font-size: 1.6rem;
  }

  .circle div {
    font-size: 1.4rem;
    margin-top: 3rem;
    align-self: flex-start;
    margin-left: 110px;
  }

  .circle div span {
    font-weight: bold;
    line-height: 2.5;
    font-size: 1.6rem;
  }

  table th,
  td {
    border-bottom: 1px solid #707070;
    padding: 10px 50px 10px 0;
  }
}

/* footer */

.footer-container {
  background-color: #000;
  margin-top: 300px;
  padding-block: 50px;
  padding-inline: 30px;
}

.footer-first-content {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: light;
}

.footer-first-content img {
  width: 100px;
  margin-bottom: 20px;
}

.footer-first-content p {
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 1.2px;
}

.footer-second-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  margin-top: 30px;
}

.footer-item-title {
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  /* line-height: 3.8; */
  margin-bottom: 0.5em;
}

.footer-item > div {
  margin-bottom: 0.5em;
}

.footer-item p,
.footer-item span {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.8px;
  font-weight: light;
  width: 14em;
}

.footer-item .footer-item-two-time,
.footer-item .footer-item-three-address {
  display: flex;
  flex-direction: column;
}

.footer-item .footer-item-three-address {
  margin-bottom: 2em;
}

.footer-item-four-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-item-four-title img {
  width: 13px;
}

.start-now-email {
  display: flex;
  align-items: center;
  padding-bottom: 3em;
}

.start-now-email input {
  padding-block: 10px;
  padding-left: 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  color: #c4c4c4;
  font-size: 1.6rem;
}

.start-now-email .view-more-arrow {
  position: relative;
  right: 40px;
}

.footer-item-four .social-media-items {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  list-style: none;
}

.social-media-item img {
  height: 20px;
}

@media screen and (min-width: 768px) {
  .footer-second-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
  }
}

@media screen and (min-width: 1024px) {
  .footer-container {
    background-color: #000;
    height: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 300px;
  }

  .footer-first-content {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .footer-first-content img {
    width: 270px;
    height: 50px;
    object-fit: cover;
  }

  .footer-first-content p {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 1.2px;
    max-width: 924px;
  }
  .footer-item {
    margin-right: 70px;
  }

  .footer-item-title {
    font-size: 2.2rem;
  }

  .footer-second-items {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .footer-item-four-title img {
    width: 16.3px;
  }
}

.copyright {
  font-size: 1.2rem;
  /* line-height: 2.8; */
  font-weight: light;
  letter-spacing: 1.5px;
  margin-block: 1em;
}

@media screen and (min-width: 1024px) {
  .copyright {
    margin-left: 21em;
    font-size: 1.4rem;
    line-height: 2.8;
    font-weight: light;
    letter-spacing: 1.5px;
    margin-block: 0.5em;
  }
}
